:root{
    --bodyColor: #3a3836;

    --calculatorBorderColor:#1f1e1d;
    --calculatorBodyColor: #3f3f46;

    --displayColor: #2e3f35;
    --displayFontColor: #afafaf;
    --darkDisplayFontColor: #222e27;

    --numpadBackgroundColor: #62626b;
    
    --digitBackgroundColor: #9797a5;
    --digitHovercolor: #83838f;
    --operatorDigitBackgroundColor: #2a2a2e;
    --operatorDigitHoverColor: #202020;

    --footerBackgroundColor: #2e2e2e;
    --creditFontColor: #918883;
    --creditHoverColor: #534e4b;
}

.body-style{
    background-color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}

.calculator-body{
    width: 450px;
    height: 550px;
    background-color: var(--calculatorBodyColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    border: 7px solid var(--calculatorBorderColor);
}

.display{
    width: 95%;
    height: 14%;
    background-color: var(--displayColor);
    margin-top: 10%;
    border: 3px solid var(--calculatorBorderColor);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.display-font{
    color: var(--displayFontColor);
    font-size: 70px;
    font-family: 'Seven Segment', sans-serif;
    margin-top: -37px;
    background-color: var(--displayColor);
}

.dark-display-font{
    color: var(--darkDisplayFontColor);
    margin-top: 0px;
    margin-bottom: -37px;
}

.numpad{
    background-color: var(--numpadBackgroundColor);
    width: 95%;
    height: 65%;
    margin-bottom: 5%;
    border: 3px solid var(--calculatorBorderColor);
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
    height: 15%;
    width: 100%;
}

.digit{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    background-color: var(--digitBackgroundColor);
    border: 3px solid var(--calculatorBorderColor);
    border-radius: 10%/20%;
    justify-content: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.operator-digit{
    color: var(--displayFontColor);
    background-color: var(--operatorDigitBackgroundColor);
    border: 3px solid var(--calculatorBorderColor);
}

.backspace-img{
    width: 40px;
    height: 40px;
}

.equals-digit{
    width: 44%;
    border-radius: 6%/20%;
}

.digit:hover{
    background-color: var(--digitHovercolor);
    transition: 0.2s all;
}

.operator-digit:hover{
    background-color: var(--operatorDigitHoverColor);
}

.page-end{
    background-color: var(--footerBackgroundColor);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;

    position: fixed;
    bottom: 0;
}

.credit{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--creditFontColor);
    text-decoration: none;
}

.credit:hover{
    color: var(--creditHoverColor);
    transition: 0.3s all;
}
